body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

#intro {
  height: 600px;
  text-align: center;
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#intro h1 {
  font-size: 80px;
  font-weight: 100;
}

#intro-text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#ingredients,
#directions {
  margin: 40px;
}
.img-ingredients {
  display: block;
  margin: 20px auto;
  width: 40%;
}

hr {
  margin-bottom: 50px;
  
}

ul,
ol {
  line-height: 2em;
}

ul li {
  list-style-type: "- ";
}

.img-directions {
  display: block;
  margin: 20px auto;
  width: 30%;
}
